* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--default-normal-fontsize);
    letter-spacing: 0.5px;
    scrollbar-color: #7fbeca rgba(108, 151, 158, 0.376);
    scrollbar-width: thin;
    scrollbar-highlight-color: #00839E;
    scrollbar-darkshadow-color: #00839E;
}

*::selection {
    color: white;
    background-color: #00839E;
}


/* 
@font-face {
    font-family: 'Noto Sans TC', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
    unicode-range: U+4E00-9FFF, U+3400-4DBF, U+20000-2A6DF, U+2A700–2B73F, U+2B740–2B81F, U+2B820–2CEAF, U+F900-FAFF, U+2F800-2FA1F;
}

@font-face {
    font-family: "Open Sans", sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
    unicode-range: U+00-7F;
} */

body {
    --default-large-fontsize: 16px;
    --default-normal-fontsize: 14px;
    --default-small-fontsize: 12px;
    --default-large-height: 39px;
    --default-normal-height: 32px;
    --default-small-height: 25px;
    --default-cyp-blue-active: #00839E;
    --default-cyp-blue-hover: #33a8c0;
    --default-cyp-blue-light: #47bbd3;
    --default-cyp-blue-opa-light: #00839E2F;
    --default-cyp-blue-opa-medium: #00839E7F;
    --default-cyp-blue-opa-deep: #00839EAF;
    --default-header-height: 60px;
    --default-nav-height: 5px;
    --default-footer-height: 0px;
    --default-leftsider-width: 280px;
    --default-rightsider-width: 0px;
    --default-content-height: calc(100% - var(--default-header-height) - var(--default-nav-height) - var(--default-footer-height));
    /* --default-leftsider-width: 0px;
--default-rightsider-width: 250px; */
    --default-header-width: 100%;
    --default-left-collapser-width: 13px;
    --default-right-collapser-width: 0px;
    /* --default-left-collapser-width: 0px;
--default-right-collapser-width: 15px; */
    --default-gray-color: rgb(163, 163, 163);
    --default-disabled-color: rgb(185, 185, 185);
    --default-disabled-background: rgb(231, 231, 231);
    --default-red-color: rgb(255, 72, 72);
    --default-red-hover-color: rgb(255, 128, 128);
    --default-red-active-color: rgb(255, 28, 28);
    --default-deepgray-color: rgb(139, 139, 139);
    --default-lightblack-color: rgb(31, 31, 31);
    --default-transition-duration: 150ms;
    /* for navbar cypd-tree */
    --default-nav-background-color: rgb(51, 51, 51);
    --default-navhover-background-color: rgba(51, 51, 51, 0.9);
    --default-nav-item-width: 150px;
    --default-nav-item-padding: 0px 20px 0px 20px;
    --default-dropdown-item-height: 35px;
    /* for cypd-select */
    --default-select-normal-height: 32px;
    --default-select-small-height: 25px;
    --default-select-dropdown-height: 200px;
    /* for cypd-tooltip */
    --default-tooltip-width: 150px;
    --default-tooltip-opacity: 1;
    /* for cypd-slider */
    --default-slider-drag-width: 17px;
    --default-inrange-hover-color: var(--default-cyp-blue-active);
    --default-inrange-color: var(--default-cyp-blue-hover);
}


/* cypd general */

[class^='cypd-'].small {
    height: var(--default-small-height);
    line-height: var(--default-small-height);
    font-size: var(--default-small-fontsize);
}

::-webkit-scrollbar {
    /* width */
    width: 5px;
}

 ::-webkit-scrollbar-track {
    /* Track */
    background: rgba(108, 151, 158, 0.376);
}

 ::-webkit-scrollbar-thumb {
    /* Handle */
    background: var(--default-cyp-blue-light);
}

 ::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background: var(--default-cyp-blue-hover);
}

 ::-webkit-scrollbar-thumb:active {
    /* Handle on hover */
    background: var(--default-cyp-blue-active);
}


/* cypd layout */

.cypd-layout-header {
    background-color: white;
    text-align: center;
    height: var(--default-header-height);
    padding: 10px;
}

.cypd-layout-navigation {
    background-color: var(--default-cyp-blue-active);
    height: var(--default-nav-height);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.cypd-layout-content {
    display: flex;
    flex-direction: row;
    height: var(--default-content-height);
}

.cypd-layout-content:after {
    content: '';
    display: table;
    clear: both;
}

.column {
    position: relative;
    overflow: visible;
    transition: width var(--default-transition-duration);
    transition-delay: 0ms;
}

.column.left {
    width: 2px;
    align-self: stretch;
    background-color: black;
    margin-right: var(--default-left-collapser-width);
    border-right: 1.3px solid rgb(153, 153, 153);
}

.column.right {
    margin-right: var(--default-right-collapser-width);
    border-left: 1.3px solid rgb(153, 153, 153);
}

.column .cypd-layout-column-wrapper {
    position: relative;
    flex-grow: 2;
    height: 100%;
    z-index: 7;
    transition: transform var(--default-transition-duration);
    transition-delay: calc(var(--default-transition-duration) / 2);
}

.column.left .cypd-layout-column-wrapper {
    transform: translateX(calc(-1 * var(--default-leftsider-width)));
}

.column.right .cypd-layout-column-wrapper {
    transform: translateX(var(--default-rightsider-width));
}

.column .collapser {
    position: absolute;
    height: 60px;
    top: calc(100% - 90px);
    z-index: 5;
    cursor: pointer;
}

.column.left .collapser {
    width: var(--default-left-collapser-width);
    right: calc(-1 * var(--default-left-collapser-width) + 1px);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20px' height='60px' overflow='visible'><path d='M3 3 9 3 9 3 Q 12 3 12 6 12 6 12 54 Z' stroke='black' fill='black'/><path d='M12 54 Q 12 57 9 57 9 57 3 57 Z' stroke='black' fill='black'/><path d='M3 57 3 3 12 54 Z' stroke='black' fill='black'/><path d='M3 3 A 3 3, 0, 0, 1, 0 0 L 0 3 Z' stroke='black' fill='black'/><path d='M3 57 A 3 3, 0, 0, 0, 0 60 L 0 57 Z' stroke='black' fill='black'/><path d='M0 3 3 3 3 57 0 57 Z' stroke='black' fill='black'/><polyline points='3,24 3,36 8,30' fill='white'/></svg>");
}

.column.right .collapser {
    width: var(--default-right-collapser-width);
    left: calc(-1 * var(--default-right-collapser-width) + 1px);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20px' height='60px' overflow='visible'><path d='M 6 3 Q 3 3 3 6 Z' stroke='black' fill='black'/><path d='M 3 6 3 54 Q 3 57 6 57 Z' stroke='black' fill='black'/><path d='M 3 6 6 57 6 3 Z' stroke='black' fill='black'/><path d='M12 3 A 3 3, 0, 0, 0, 15 0 L 15 3 Z' stroke='black' fill='black'/><path d='M12 57 A 3 3, 0, 0, 1, 15 60 L 15 57 Z' stroke='black' fill='black'/><path d='M15 3 15 57 6 57 6 3 Z' stroke='black' fill='black'/><polyline points='12,24 12,36 7,30' fill='white'/></svg>");
}

.column.left.visible {
    width: var(--default-leftsider-width);
    flex-shrink: 0;
    transition-delay: calc(var(--default-transition-duration) / 2);
}

.column.right.visible {
    width: var(--default-rightsider-width);
    margin-left: var(--default-right-collapser-width);
}

.column.visible .cypd-layout-column-wrapper {
    transform: none;
    transition-delay: 0ms;
}

.column.middle {
    flex-grow: 5;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
}

.column.middle.collapsed {
    transition-delay: calc(var(--default-transition-duration) / 2);
}

.cypd-layout-footer {
    background-color: var(--default-cyp-blue-active);
    text-align: center;
    width: 100%;
    height: var(--default-footer-height);
}

@media (max-width: 800px) {
    .column {
        position: absolute;
        height: calc(100% - var(--default-header-height) - var(--default-nav-height));
    }
    .column.left {
        z-index: 21;
    }
    .column.middle {
        width: 100%;
    }
    .column .collapser {
        top: calc(100% - var(--default-header-height) - var(--default-nav-height) - 90px);
    }
}


/* cypd table */

.cypd-table-container {
    padding: 10px;
    width: 100%;
}

.cypd-table-container>.table-wrapper {
    border: 1px solid var(--default-cyp-blue-active);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.cypd-table-container>.table-wrapper.show-empty {
    min-height: 150px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100px' height='100px' overflow='visible'><ellipse cx='50' cy='70' rx='25' ry='5' stroke='%none' fill='rgba(170,170,170,0.125)' /><path d='M20 55 30 40 60 40 70 55' stroke='rgba(170,170,170,0.5)' fill='none' stroke-linejoin='round' /><path d='M70 55 55 55 53 60 37 60 35 55 20 55 20 70 70 70 Z' stroke='rgba(170,170,170,0.5)' fill='rgb(238,238,238)' stroke-linejoin='round' /><text x='45' y='95' font-family='Arial' fill='rgba(170,170,170,0.5)' text-anchor='middle'>No Data</text></svg>");
    background-repeat: no-repeat;
    background-position: center center;
}

.cypd-table-container>.table-wrapper>.column {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-grow: 10;
}

.cypd-table-container>.table-wrapper>.column>.head,
.cypd-table-container>.table-wrapper>.column>.cell {
    padding: 20px 0px 20px 0px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.cypd-table-container>.table-wrapper>.column>.head {
    height: 30px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    background-color: var(--default-cyp-blue-active);
}

.cypd-table-container>.table-wrapper>.column>.cell {
    height: 45px;
    vertical-align: middle;
    transition: transform 100ms ease-in-out;
    text-align: center;
    border-bottom: 1px solid var(--default-cyp-blue-opa-light);
}

.cypd-table-container.nextpage>.table-wrapper>.column>.cell {
    animation: NextPage 300ms cubic-bezier(1, 0, 0, 1);
}

.cypd-table-container.prevpage>.table-wrapper>.column>.cell {
    animation: PrevPage 300ms cubic-bezier(1, 0, 0, 1);
}

.cypd-table-container .footer {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px 20px 10px 20px;
    height: 60px;
    line-height: 60px;
    width: 100%;
}

.cypd-table-container .cypd-icon:not([class*='fc-']) * {
    stroke: rgb(109, 108, 108);
}

@keyframes NextPage {
    0% {
        opacity: 0;
        transform: translate(20px);
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes PrevPage {
    0% {
        opacity: 0;
        transform: translate(-20px);
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}


/* cypd cypd-modal */

.cypd-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    user-select: text;
    z-index: 41;
}

.cypd-modal-container.active {
    opacity: 1;
    visibility: visible;
    transition: opacity var(--default-transition-duration) ease-in, visibility var(--default-transition-duration);
}

.cypd-modal-container.hide {
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--default-transition-duration) ease-in, visibility 0ms ease-in var(--default-transition-duration);
}

.cypd-modal-container .cypd-modal-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
}

.cypd-modal-container .cypd-modal-background .cypd-modal {
    position: relative;
    background: white;
    display: inline-block;
    border-radius: 3px;
    min-width: 400px;
    padding: 10px;
    text-align: left;
}

.cypd-confirm-dialog-container {
    position: relative;
    z-index: 31;
}

.cypd-modal-container .cypd-modal-background .cypd-modal h3 {
    margin: 10px 20px 15px 20px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
    font-size: 18px;
    border-bottom: 1px solid rgba(40, 40, 40, 0.3);
}

.cypd-modal-container .cypd-modal-background .cypd-modal .content {
    margin: 0px 20px 15px 20px;
}

.cypd-modal-container .cypd-modal-background .cypd-modal svg.close-svg {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}


/* cypd href */

.cypd-href {
    display: inline;
    color: var(--default-cyp-blue-hover);
    cursor: pointer;
}

.cypd-href:hover {
    color: var(--default-cyp-blue-light);
    text-decoration: underline;
}


/* cypd input */

.cypd-input {
    width: 60px;
    height: 32px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--default-gray-color);
    letter-spacing: 1px;
    transition: border var(--default-transition-duration) ease-in-out, box-shadow var(--default-transition-duration) ease-in-out, background-color var(--default-transition-duration) ease-in-out;
}

.cypd-input::placeholder {
    color: var(--default-gray-color);
}

.cypd-input:hover {
    /* border: 1px solid var(---default-cyp-blue-hover); */
    border: 1px solid var(--default-cyp-blue-hover);
}

.cypd-input:focus {
    cursor: text;
    border: 1px solid var(--default-cyp-blue-active);
    box-shadow: 0px 0px 2px var(--default-cyp-blue-hover);
}


/* cypd select */

.cypd-select-wrapper {
    position: relative;
    display: inline-block;
    text-align: left;
    height: var(--default-select-normal-height);
    line-height: var(--default-select-normal-height);
}

.cypd-select-wrapper .cypd-select {
    padding: 0px 25px 0px 10px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid var(--default-gray-color);
    letter-spacing: 1px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='28px' height='32px' overflow='visible'><path d='M13 14 16 10 19 14 M13 18 16 22 19 18' stroke='%2333a8c0' fill='%2333a8c0' /></svg>");
    background-position: right;
    background-repeat: no-repeat;
    background-color: white;
    transition: border var(--default-transition-duration) ease-in-out, box-shadow var(--default-transition-duration) ease-in-out, background-color var(--default-transition-duration) ease-in-out;
}

.cypd-select-wrapper .cypd-select:hover {
    border: 1px solid var(--default-cyp-blue-hover);
}

.cypd-select-wrapper .cypd-select:disabled {
    cursor: not-allowed;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='28px' height='32px' overflow='visible'><path d='M13 14 16 10 19 14 M13 18 16 22 19 18' stroke='rgb(160,160,160)' fill='rgb(160,160,160)' /></svg>");
    background-color: var(--default-disabled-background);
}

.cypd-select-wrapper .cypd-select.focus {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='28px' height='32px' overflow='visible'><path d='M13 14 16 10 19 14 M13 18 16 22 19 18' stroke='%2300839E' fill='%2300839E' /></svg>");
    background-position: right;
    background-repeat: no-repeat;
    background-color: white;
    border: 1px solid var(--default-cyp-blue-active);
    box-shadow: 0px 0px 2px var(--default-cyp-blue-hover);
}

.cypd-select-wrapper .cypd-select::placeholder {
    color: var(--default-deepgray-color);
}

.cypd-options-container {
    position: absolute;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
    transform: scaleY(1) translateY(1px);
    transform-origin: top;
    opacity: 1;
    z-index: 21;
    box-shadow: 0px 0px 4px var(--default-cyp-blue-active);
    transition: transform var(--default-transition-duration), opacity var(--default-transition-duration) 50ms;
}

.cypd-options-container.extend-top {
    transform: scaleY(1) translateY(calc(-100% - var(--default-select-normal-height) - 2px));
    transform-origin: bottom;
}

.cypd-options-container.limit-height {
    height: var(--default-select-dropdown-height);
}

.cypd-options-container.collapsed {
    opacity: 0;
    height: 0;
    transform: scaleY(0);
    transition: transform var(--default-transition-duration), opacity var(--default-transition-duration) 150ms;
}

.cypd-options-wrapper {
    position: relative;
    width: 100%;
    max-height: 100%;
    scrollbar-color: #7fbeca white;
    overflow-y: auto;
}

.cypd-options-wrapper::-webkit-scrollbar-track {
    background: white;
}

.cypd-options-wrapper .cypd-option {
    width: 100%;
}

.cypd-option input[type="radio"] {
    position: absolute;
    visibility: hidden;
}

.cypd-option label {
    position: relative;
    display: block;
    height: var(--default-select-normal-height);
    line-height: var(--default-select-normal-height);
    padding: 0px 10px 0px 10px;
    width: 100%;
    cursor: pointer;
    transition: background-color var(--default-transition-duration), color var(--default-transition-duration);
    color: black;
    background-color: white;
}

.cypd-select-wrapper.small .cypd-option label {
    height: var(--default-small-height);
    line-height: var(--default-small-height);
    font-size: var(--default-small-fontsize);
}

.cypd-option input[type="radio"]:checked~label,
.cypd-option label:hover {
    background-color: var(--default-cyp-blue-hover);
    color: white;
}


/* cypd icon */

.cypd-icon-wrapper {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.cypd-icon-wrapper.clickable {
    cursor: pointer;
    pointer-events: all;
}

.cypd-icon-wrapper.clickable:active {
    opacity: 0.5;
}

.cypd-icon-wrapper.clickable svg.cypd-icon * {
    /* if not disable pointer event, parent onclick will not triggered sometimes */
    pointer-events: none;
}

.cypd-icon-wrapper svg.cypd-icon:not(.senario) {
    overflow: visible;
    max-width: 16px;
    max-height: 16px;
}

.cypd-icon-wrapper svg.cypd-icon.fc-loading {
    animation: rotateLoad 1s linear infinite;
}

.cypd-icon-wrapper svg.cypd-icon.senario {
    overflow: visible;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 250px;
    opacity: 0.3;
}

svg.cypd-icon:not([class*='fc-']) * {
    stroke: white;
    stroke-linejoin: round;
    stroke-linecap: round;
}

@keyframes rotateLoad {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}


/* cypd button */

.cypd-button {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0px 12px 0px 12px;
    border-radius: 4px;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    white-space: nowrap;
    transition: color var(--default-transition-duration) ease-in-out 50ms, border var(--default-transition-duration) ease-in-out, background-color var(--default-transition-duration) ease-in-out;
    user-select: none;
    flex-shrink: 0;
}

.cypd-button.round {
    border-radius: calc(var(--default-select-normal-height) / 2);
}

.cypd-button.small.round {
    border-radius: calc(var(--default-select-small-height) / 2);
}

.cypd-button.small {
    padding: 0px 6px 0px 6px;
}

.cypd-button.no-content {
    width: var(--default-select-normal-height);
    padding: 0px 10px 0px 10px;
}

.cypd-button.small.no-content {
    width: var(--default-select-small-height);
}

.cypd-button.primary {
    color: white;
    background-color: var(--default-cyp-blue-active);
}

.cypd-button.primary:hover {
    background-color: var(--default-cyp-blue-hover);
}

.cypd-button.primary:active {
    background-color: var(--default-cyp-blue-active);
}

.cypd-button.danger {
    color: white;
    background-color: var(--default-red-color);
}

.cypd-button.danger:hover {
    background-color: var(--default-red-hover-color);
}

.cypd-button.danger:active {
    background-color: var(--default-red-active-color);
}

.cypd-button.default {
    background-color: white;
    color: var(--default-deepgray-color);
    border: 1px solid var(--default-gray-color);
}

.cypd-button.default:hover {
    color: var(--default-cyp-blue-hover);
    border: 1px solid var(--default-cyp-blue-hover);
}

.cypd-button.default:active {
    color: var(--default-cyp-blue-active);
    border: 1px solid var(--default-cyp-blue-active);
}

.cypd-button.default .cypd-icon:not([class*='fc-']) * {
    transition: stroke var(--default-transition-duration) ease-in-out 50ms;
}

.cypd-button.disabled {
    background-color: var(--default-disabled-background);
    color: var(--default-disabled-color);
    border: 1px solid var(--default-disabled-color);
    cursor: not-allowed;
}

.cypd-button .context {
    font-weight: bold;
}

.cypd-button.small .context {
    font-weight: 500;
}

.cypd-button .wrap-icon {
    display: flex;
    margin-right: 3px;
}

.cypd-button.no-content .wrap-icon {
    margin-right: 0;
}

.cypd-button .cypd-icon-wrapper {
    transform: scale(0.8);
}

.cypd-button.primary .cypd-icon-wrapper .cypd-icon:not([class*='fc-']) *,
.cypd-button.danger .cypd-icon-wrapper .cypd-icon:not([class*='fc-']) * {
    stroke: white;
}

.cypd-button.default .cypd-icon-wrapper .cypd-icon:not([class*='fc-']) * {
    stroke: rgb(139, 139, 139);
}

.cypd-button.default:hover .cypd-icon-wrapper .cypd-icon:not([class*='fc-']) * {
    stroke: var(--default-cyp-blue-hover);
}

.cypd-button.default:active .cypd-icon-wrapper .cypd-icon:not([class*='fc-']) * {
    stroke: var(--default-cyp-blue-active);
}

.cypd-button.disabled .cypd-icon-wrapper .cypd-icon:not([class*='fc-']) * {
    stroke: rgb(163, 163, 163);
}


/* cypd checkbox */

.cypd-checkbox-wrapper {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: auto;
    height: var(--default-normal-height);
    line-height: var(--default-normal-height);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cypd-checkbox-wrapper.disabled {
    cursor: not-allowed;
}

.cypd-checkbox-wrapper input {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}

.cypd-checkbox-wrapper .cypd-checkbox {
    flex-shrink: 0;
    height: 20px;
    width: 20px;
    border: 1px solid var(--default-gray-color);
    border-radius: 3px;
    background-color: white;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20px' height='20px' overflow='visible'><path d='M3 10 8 14 15 4' stroke='white' stroke-width='2' fill='none' /></svg>");
    background-repeat: no-repeat;
    transition: border var(--default-transition-duration), background-color var(--default-transition-duration);
}

.cypd-checkbox-wrapper:hover .cypd-checkbox {
    border: 1px solid var(--default-cyp-blue-hover);
}

.cypd-checkbox-wrapper input:checked~.cypd-checkbox {
    background-color: var(--default-cyp-blue-hover);
    border: 1px solid var(--default-cyp-blue-hover);
}

.cypd-checkbox-wrapper input:disabled~.cypd-checkbox {
    background-color: gray;
    border: 1px solid gray;
}

.cypd-checkbox-wrapper span {
    height: var(--default-small-height);
    line-height: var(--default-small-height);
    padding-left: 5px;
    overflow: hidden;
}


/* cypd radio group */

.cypd-radio-group-wrapper {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cypd-radio-group-wrapper.vertical {
    flex-direction: column;
}

.cypd-radio-group-wrapper.vertical .cypd-radio-wrapper {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.cypd-radio-wrapper input {
    position: absolute;
    visibility: hidden;
    height: 0;
    width: 0;
}

.cypd-radio-wrapper {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-left: 5px;
}

.cypd-radio-wrapper.disabled {
    cursor: not-allowed;
}

.cypd-radio-wrapper .cypd-radio {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border: 1px solid var(--default-gray-color);
    border-radius: 50%;
    background-color: white;
    transition: border-color var(--default-transition-duration);
}

.cypd-radio-wrapper:hover .cypd-radio {
    border: 1px solid var(--default-cyp-blue-hover);
}

.cypd-radio-wrapper .cypd-radio::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--default-cyp-blue-hover);
    transform: scale(0);
    transition: transform var(--default-transition-duration);
}

.cypd-radio-wrapper input:checked~.cypd-radio::after {
    transform: scale(1);
}

.cypd-radio-wrapper input:checked~.cypd-radio {
    border: 1px solid var(--default-cyp-blue-active);
    box-shadow: 0px 0px 2px var(--default-cyp-blue-hover);
}

.cypd-radio-wrapper input:disabled~.cypd-radio {
    background-color: rgb(163, 163, 163, 0.6) !important;
    border: 1px solid rgb(163, 163, 163);
    box-shadow: none;
}

.cypd-radio-wrapper input:disabled~.cypd-radio::after {
    background-color: rgb(163, 163, 163) !important;
}

.cypd-radio-wrapper span {
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}


/* cypd switch button */

.cypd-switchbutton-wrapper {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cypd-switchbutton-wrapper.disabled {
    cursor: not-allowed;
}

.cypd-switchbutton-wrapper input {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}

.cypd-switchbutton {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30px;
    height: 7px;
    border-radius: 3.5px;
    background-color: var(--default-gray-color);
    transition: background-color var(--default-transition-duration);
}

.cypd-switchbutton::after {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 1px 3px var(--default-deepgray-color);
    transition: transform var(--default-transition-duration), background-color 80ms 70ms;
}

.cypd-switchbutton-wrapper input:checked+.cypd-switchbutton {
    background-color: #84abb4;
}

.cypd-switchbutton-wrapper input:checked+.cypd-switchbutton::after {
    background-color: var(--default-cyp-blue-active);
    transform: translateX(15px);
}

.cypd-switchbutton-wrapper.disabled .cypd-switchbutton {
    background-color: rgb(163, 163, 163, 0.6) !important;
}

.cypd-switchbutton-wrapper.disabled .cypd-switchbutton::after {
    background-color: rgb(160, 160, 160) !important;
}

.cypd-switchbutton-wrapper input:checked+.cypd-switchbutton::before {
    content: '';
    position: absolute;
    left: 12px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: transparent;
}


/* cypd spin */

.cypd-spin-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    visibility: hidden;
}

.cypd-spin-wrapper.horizontal {
    flex-direction: row;
}

.cypd-spin-wrapper.visible {
    z-index: 31;
    visibility: visible;
}

.cypd-spin-wrapper>* {
    margin-bottom: 10px;
}

.cypd-spin-wrapper.horizontal>* {
    margin-bottom: 0px;
    margin-right: 12px;
}

.cypd-spin-wrapper .cypd-spin {
    transform: scale(1.5);
}

.cypd-spin-wrapper .cypd-spin-msg {
    letter-spacing: 1px;
    color: var(--default-cyp-blue-active);
    font-weight: normal;
}

.cypd-spin-wrapper .cypd-spin-msg::after {
    content: ' ...';
}

.cypd-spin-wrapper.linear .logo {
    position: relative;
    height: 40px;
    width: 40px;
}

.cypd-spin-wrapper.linear .logo>* {
    position: absolute;
    height: 100%;
    width: 100%;
    animation: spin-cyp 4s linear infinite;
}

.cypd-spin-wrapper.linear .logo>.c {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40px' height='40px' overflow='visible'><path fill='rgb(0, 131, 158)' stroke='rgb(0, 131, 158)' d='M3.676446787518377,9.790230231676986 v-3.5921140107470366 c0,-0.4732942910965607 0.24601297685563064,-0.9105747437440805 0.6452390987909704,-1.1472218892923611 l5.713729239679878,-3.386153212752969 c0.05626119555095024,-0.033350093001626314 0.05626119555095024,-0.11667205059674352 0,-0.1499155937804732 l-1.391582264863536,-0.824695590519446 c-0.399329924879161,-0.23664714554828062 -0.8911482727027799,-0.23664714554828062 -1.290478197581939,0 l-5.19315747641786,3.0775849401245052 c-0.399329924879161,0.23664714554828062 -0.6452390987909704,0.6739275981958015 -0.6452390987909704,1.1472218892923611 v6.155382979884802 c0,0.4731877412786646 0.24601297685563064,0.910468193926184 0.6452390987909704,1.1471153394744642 l3.528158257529965,2.0910401762201705 c0.05626119555095024,0.033350093001626314 0.12663959146154832,-0.008417435613829004 0.12653578851772745,-0.07511762161708156 l-0.0028026794831654206,-2.3630618613101113 c0,-0.03079289737210857 -0.016089456292245927,-0.05934824856838922 -0.04224779813512318,-0.07479797216339183 l-1.448051066302127,-0.8579391337031752 C3.9224597643740085,10.700911525238965 3.676446787518377,10.263417972955654 3.676446787518377,9.790230231676986 z' transform='matrix(2.5,0,0,2.5,0,0)'/></svg>");
}

.cypd-spin-wrapper.linear .logo>.yp {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40px' height='40px' overflow='visible'><path fill='rgb(0, 131, 158)' stroke='rgb(0, 131, 158)' d='M13.837094140487364,3.767714874709207 l-0.8821174165903569,-0.5227334066005692 c-0.399329924879161,-0.23664714554828062 -0.8911482727027799,-0.23664714554828062 -1.290478197581939,0 L6.460337937852195,6.329172496942728 c-0.399329924879161,0.23664714554828062 -0.6452390987909704,0.6739275981958015 -0.6452390987909704,1.1472218892923611 v1.0364100786799286 c0,0.47862178199138955 0.2515145328781407,0.9199511277189786 0.6579030579371249,1.15468037654512 l1.5256956682801912,0.8806342449151449 l-0.0010380294382094143,-1.7929137857455697 c-0.00031140883146282475,-0.47393359000394014 0.24622058274327238,-0.9119598913767358 0.6462771282291797,-1.1485004871071194 l3.539057566631164,-2.0929580729423085 c0.05626119555095024,-0.03324354318372969 0.12643198557390625,0.008417435613829004 0.12643198557390625,0.0750110717991849 v1.638416549795544 c0,0.47308119146076777 -0.24580537096798888,0.9102550942903906 -0.6449276899595073,1.1469022398386712 L7.998697565278539,10.548012536557389 v4.979392639760369 c0,0.06670018600325262 0.07027459296677742,0.10836116480081084 0.12653578851772745,0.0750110717991849 l1.1452578791764425,-0.6787223400011468 c0.399329924879161,-0.23664714554828062 0.6453429017347906,-0.6738210483779042 0.6453429017347906,-1.1472218892923611 l-0.0001038029438209416,-1.8044211660783989 l3.9214676116675085,-2.3239580781420703 c0.39922612193533935,-0.23664714554828062 0.6452390987909704,-0.6738210483779042 0.6452390987909704,-1.1472218892923611 v-3.586147220944829 C14.482333239278338,4.441642472905005 14.236424065366528,4.0043620202574886 13.837094140487364,3.767714874709207 z' transform='matrix(2.5,0,0,2.5,0,0)'/></svg>");
    animation-delay: 0.2s;
}

.cypd-spin-wrapper.linear .container {
    position: relative;
    background-color: transparent;
    height: 30px;
    width: 100px;
    overflow: hidden;
    /* border: 1px solid black; */
}

.cypd-spin-wrapper.linear .container div {
    position: absolute;
    background-color: var(--default-cyp-blue-active);
    height: 8px;
    width: 8px;
    border-radius: 50%;
    top: 11px;
    animation: spin-linear 3s cubic-bezier(0, .89, 1, .12) infinite;
    flex-grow: 0;
}

.cypd-spin-wrapper.linear .container div:nth-child(1) {
    animation-delay: 0.12s;
    left: 29px;
}

.cypd-spin-wrapper.linear .container div:nth-child(2) {
    animation-delay: 0.24s;
    left: 43px;
}

.cypd-spin-wrapper.linear .container div:nth-child(3) {
    animation-delay: 0.36s;
    left: 57px;
}

.cypd-spin-wrapper.linear .container div:nth-child(4) {
    animation-delay: 0.48s;
    left: 71px;
}

@keyframes spin-linear {
    0% {
        transform: translateX(120px);
    }
    70%,
    100% {
        transform: translateX(-120px);
    }
}

@keyframes spin-cyp {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 0.4;
    }
    60%,
    100% {
        opacity: 1;
    }
}


/* cypd tree */

.cypd-tree-container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    user-select: none;
}

.cypd-tree-element .children,
.cypd-tree-element {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    width: 100%;
    font-weight: bold;
}

.cypd-tree-element.hide .children {
    display: none;
}

.cypd-tree-element .self {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.883);
    transition: color var(--default-transition-duration), background-color var(--default-transition-duration);
}

.cypd-tree-container.black .cypd-tree-element .self {
    color: var(--default-deepgray-color);
}

.cypd-tree-element .self .cypd-icon-wrapper svg * {
    stroke: rgba(255, 255, 255, 0.883);
}

.cypd-tree-container.black .cypd-tree-element .self .cypd-icon-wrapper svg * {
    stroke: var(--default-deepgray-color);
}

.cypd-tree-element .self:hover {
    background-color: var(--default-lightblack-color);
    color: white;
}

.cypd-tree-container.black .cypd-tree-element .self:hover {
    background-color: rgba(128, 128, 128, 0.3);
    color: rgb(109, 109, 109);
}

.cypd-tree-element .self:hover .cypd-icon-wrapper svg * {
    stroke: white;
}

.cypd-tree-element .self>* {
    margin-right: 10px;
}

.cypd-tree-element .self .label {
    width: 100%;
}

.cypd-tree-container .cypd-tree-element .children>* {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20px' height='40px' overflow='visible'><path d='M0 0 0 40 M0 20 11 20' stroke-dasharray='2,2' stroke='rgba(256, 256, 256, 0.5)' /></svg>");
    background-repeat: no-repeat;
}

.cypd-tree-container .cypd-tree-element .children>.last {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20px' height='40px' overflow='visible'><path d='M0 0 0 20 M0 20 11 20' stroke-dasharray='2,2' stroke='rgba(256, 256, 256, 0.5)' /></svg>");
    background-repeat: no-repeat;
}

.cypd-tree-container .cypd-tree-element .children>.parent:not(.last) {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20px' height='4000px' overflow='visible'><path d='M0 0 0 4000 M0 20 11 20' stroke-dasharray='2,2' stroke='rgba(256, 256, 256, 0.5)' /></svg>");
    background-repeat: repeat-y;
}

.cypd-tree-container.black .cypd-tree-element .children>* {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20px' height='40px' overflow='visible'><path d='M0 0 0 40 M0 20 11 20' stroke-dasharray='2,2' stroke='black' /></svg>");
    background-repeat: no-repeat;
}

.cypd-tree-container.black .cypd-tree-element .children>.last {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20px' height='40px' overflow='visible'><path d='M0 0 0 20 M0 20 11 20' stroke-dasharray='2,2' stroke='black' /></svg>");
    background-repeat: no-repeat;
}

.cypd-tree-container.black .cypd-tree-element .children>.parent:not(.last) {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20px' height='4000px' overflow='visible'><path d='M0 0 0 4000 M0 20 11 20' stroke-dasharray='2,2' stroke='black' /></svg>");
    background-repeat: repeat-y;
}

.cypd-tree-icon-expand,
.cypd-tree-inline-icon {
    transform: scale(0.8);
}

.cypd-layout-navigation .cypd-tree-container {
    position: relative;
    flex-direction: row;
    padding: 0;
    background: transparent;
    overflow: visible;
}

.cypd-layout-navigation .cypd-tree-container>.cypd-tree-element:not(:last-child) {
    margin-right: 10px;
}

.cypd-layout-navigation .cypd-tree-element {
    padding-left: 0px;
}

.cypd-layout-navigation .cypd-tree-element .self {
    padding: 0px 10px 0px 10px;
}

.cypd-layout-navigation .cypd-tree-element .self:hover {
    background-color: var(--default-cyp-blue-hover);
}

.cypd-layout-navigation .cypd-tree-element .self>* {
    margin-right: 0px;
}

.cypd-layout-navigation .cypd-tree-element .self>.label {
    text-align: center;
    white-space: nowrap;
}

.cypd-layout-navigation .cypd-tree-element .children {
    visibility: hidden;
}


/* cypd tooltip */


/* .cypd-tooltip-wrapper {
    position: relative;
} */

.cypd-tooltip {
    position: absolute;
    max-width: var(--default-tooltip-width);
    height: auto;
    color: white;
    background-color: var(--default-cyp-blue-active);
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
    opacity: 0;
    z-index: 41;
    visibility: hidden;
    transition: opacity var(--default-transition-duration);
}

.cypd-tooltip.active {
    visibility: visible;
    opacity: 1;
}

.cypd-tooltip.hide {
    opacity: 0;
}

.cypd-tooltip::after,
.cypd-tooltip::before {
    content: ' ';
    position: absolute;
    width: 10px;
    height: 10px;
}

.cypd-tooltip.left {
    transform: translate(calc(-100% - 10px), -50%);
}

.cypd-tooltip.right {
    transform: translate(10px, -50%);
}

.cypd-tooltip.top {
    transform: translate(-50%, calc(-100% - 10px));
}

.cypd-tooltip.bottom {
    transform: translate(-50%, 10px);
}

.cypd-tooltip.top::before {
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10px' height='10px' overflow='visible'><path d='M0 0 10 0 5 10 Z' fill='%2300839E' /></svg>");
    background-repeat: no-repeat;
    background-position: center;
}

.cypd-tooltip.bottom::before {
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10px' height='10px' overflow='visible'><path d='M5 0 0 10 10 10 Z' fill='%2300839E' /></svg>");
    background-repeat: no-repeat;
    background-position: center;
}

.cypd-tooltip.left::before {
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10px' height='10px' overflow='visible'><path d='M0 0 0 10 10 5 Z' fill='%2300839E' /></svg>");
    background-repeat: no-repeat;
    background-position: center;
}

.cypd-tooltip.right::before {
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10px' height='10px' overflow='visible'><path d='M0 5 10 0 10 10 Z' fill='%2300839E' /></svg>");
    background-repeat: no-repeat;
    background-position: center;
}


/* cypd slider */

.cypd-slider-container {
    position: relative;
    height: var(--default-normal-height);
    flex-grow: 1;
    padding-left: 5px;
    padding-right: 5px;
    /* background-color: var(--default-cyp-blue-opa-deep); */
}

.cypd-slider-container.disabled {
    cursor: not-allowed;
}

.cypd-slider-wrapper {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.cypd-slider-track {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 5px;
    width: 100%;
    border-radius: 2.5px;
    background-color: var(--default-disabled-color);
    cursor: pointer;
    transition: background-color var(--default-transition-duration);
}

.cypd-slider-track.progress-track {
    overflow: hidden;
    cursor: default;
}

.cypd-slider-container.disabled .cypd-slider-track {
    background-color: rgb(163, 163, 163, 0.6);
    cursor: not-allowed;
}

.cypd-slider-track:not(.progress-track).active,
.cypd-slider-track:not(.progress-track):hover {
    background-color: var(--default-gray-color);
}

.cypd-slider-point.drag {
    position: absolute;
    height: var(--default-slider-drag-width);
    width: var(--default-slider-drag-width);
    background-color: white;
    border: 3px solid var(--default-cyp-blue-hover);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    transform: translateX(calc(-1 * var(--default-slider-drag-width) / 2));
    transition: border-color var(--default-transition-duration), box-shadow var(--default-transition-duration);
}

.cypd-slider-point.drag.active {
    border-color: var(--default-cyp-blue-active);
    box-shadow: 0px 0px 5px var(--default-cyp-blue-opa-medium);
}

.cypd-slider-container.disabled .cypd-slider-point.drag {
    border-color: rgb(160, 160, 160) !important;
    cursor: not-allowed;
}

.cypd-slider-point.drag .cypd-tooltip-wrapper {
    display: flex !important;
}

.cypd-slider-point.drag .cypd-tooltip {
    width: auto;
    transition-delay: 0ms;
}

.cypd-slider-range {
    position: absolute;
    overflow: visible;
    height: 5px;
}

.cypd-slider-range path {
    stroke: var(--default-cyp-blue-light);
    stroke-width: 5px;
    stroke-linecap: round;
    transition: stroke var(--default-transition-duration);
}

.cypd-slider-track.active .cypd-slider-range path {
    stroke: var(--default-cyp-blue-hover);
}

.cypd-slider-container.disabled .cypd-slider-range path {
    stroke: rgb(160, 160, 160) !important;
}

.cypd-progress-hint {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 5px;
    font-size: 11px;
    letter-spacing: 0;
    user-select: none;
}


/* cypd form */

.cypd-formitem-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cypd-formitem-wrapper.vertical {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cypd-formitem-wrapper>* {
    margin-left: 5px;
    margin-right: 5px;
}

.cypd-formitem-wrapper>.cypd-select-wrapper,
.cypd-formitem-wrapper>.cypd-input {
    flex-grow: 10;
}

.cypd-formitem-wrapper>.help {
    color: var(--default-red-active-color);
    position: absolute;
    right: 0;
    bottom: -13px;
}

.cypd-formitem-wrapper .cypd-formitem-label:not(.no-colon)::after {
    content: ':';
    display: inline;
}

.cypd-formitem-wrapper.error {
    margin-bottom: 20px;
}

.cypd-formitem-wrapper.error>.cypd-select-wrapper,
.cypd-formitem-wrapper.error>.cypd-input {
    border-color: var(--default-red-color);
}


/* cypd calendar - overwrite react-calendar */

#g__cypd_calendar_window {
    z-index: 11;
    height: 300px;
    opacity: 0;
    transition: opacity var(--default-transition-duration);
}

.cypd-picker-wrapper {
    /* position: relative;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: var(--default-normal-height);
    width: 150px; */
    position: relative;
    width: 150px;
}

.cypd-picker-wrapper .cypd-icon-wrapper {
    position: absolute;
    top: 6px;
    right: 5px;
    transform: scale(0.8) !important;
}

.cypd-picker-wrapper .cypd-icon-wrapper svg * {
    stroke: rgb(109, 108, 108);
}

.cypd-picker-wrapper .cypd-input {
    cursor: text;
    color: var(--default-gray-color);
    width: 100%;
}

.cypd-picker-wrapper.hide .cypd-input:focus {
    box-shadow: none;
    border: 1px solid var(--default-gray-color);
}

.react-calendar {
    position: relative;
    width: 250px;
    border-radius: 5px;
    border: 1px solid var(--default-cyp-blue-active);
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    background: white;
    z-index: 11;
    box-shadow: 0px 0px 2px var(--default-cyp-blue-hover);
}

.react-calendar button {
    position: relative;
    background-color: transparent;
    color: var(--default-cyp-blue-active);
    border: 0;
    height: 30px;
    cursor: pointer;
    transition: background-color 50ms;
}

.react-calendar button abbr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.react-calendar button.react-calendar__tile--active,
.react-calendar button:focus,
.react-calendar button::-moz-focus-inner {
    border: none;
}

.react-calendar button.react-calendar__month-view__days__day.react-calendar__tile--active,
.react-calendar button.react-calendar__month-view__days__day:focus,
.react-calendar button.react-calendar__month-view__days__day::-moz-focus-inner {
    background-color: var(--default-cyp-blue-opa-light);
}

button.react-calendar__month-view__days__day {
    height: 0;
    padding-top: calc(100% / 7);
    border-radius: 50%;
}

button.react-calendar__century-view__decades__decade {
    height: 40px;
}

.react-calendar button:hover {
    background-color: var(--default-cyp-blue-opa-light);
}

.react-calendar__month-view__weekdays {
    background-color: var(--default-cyp-blue-active);
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.react-calendar__month-view__weekdays__weekday abbr {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.cypd-digital-clock-wrapper {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    width: 150px;
}

.cypd-digital-clock-wrapper .cypd-input {
    position: absolute;
    width: 100%;
    z-index: 1;
    color: var(--default-gray-color);
}

.cypd-digital-clock-wrapper .cypd-input:hover {
    cursor: text;
}

.cypd-digital-clock-wrapper .cypd-select-wrapper {
    margin-right: -1px;
}

.cypd-digital-clock-wrapper .cypd-select {
    visibility: hidden;
}

.cypd-digital-clock-wrapper .cypd-options-container {
    margin-top: 1px;
    box-shadow: none;
    background-color: white;
}

.cypd-digital-clock-wrapper.clock-system .cypd-select-wrapper.meridiem .cypd-options-container {
    height: var(--default-select-dropdown-height);
    transition-delay: 0s;
}

.cypd-digital-clock-wrapper.clock-system .cypd-select-wrapper.meridiem .cypd-options-container,
.cypd-digital-clock-wrapper .cypd-select-wrapper.hr .cypd-options-container {
    border-radius: 3px 0 0 3px;
    box-shadow: -1px 1px 2px 0px var(--default-cyp-blue-active);
}

.cypd-digital-clock-wrapper.clock-system .cypd-select-wrapper.hr .cypd-options-container,
.cypd-digital-clock-wrapper .cypd-select-wrapper.min .cypd-options-container {
    border-radius: 0;
    border-left: 1 solid var(--default-cyp-blue-active);
    border-right: 1 solid var(--default-cyp-blue-active);
    box-shadow: 1px 1px 2px 0px var(--default-cyp-blue-active);
}

.cypd-digital-clock-wrapper .cypd-select-wrapper.sec .cypd-options-container {
    border-radius: 0 3px 3px 0;
    border-left: 1 solid var(--default-cyp-blue-active);
    box-shadow: 1px 1px 2px 0px var(--default-cyp-blue-active);
}

.cypd-digital-clock-wrapper .cypd-icon-wrapper {
    position: absolute;
    width: 0;
    top: 6px;
    right: 20px;
    z-index: 1;
    transform: scale(0.8) !important;
}

.cypd-digital-clock-wrapper .cypd-icon-wrapper svg * {
    stroke: rgb(109, 108, 108);
}


/* cypd notification */

#g__cypd_notify_window {
    position: fixed;
    display: flex;
    flex-flow: column-reverse;
    flex-direction: column-reverse;
    margin-right: 10px;
    right: 0;
    bottom: 0;
    width: 350px;
    z-index: 51;
}

#g__cypd_notify_window>.cypd-notify-wrapper {
    overflow: hidden;
    margin-bottom: 10px;
    max-height: 90px;
    box-shadow: 0px 0px 12px -2px var(--default-deepgray-color);
    transition: max-height .2s cubic-bezier(0.215, 0.610, 0.355, 1), margin-bottom 0s cubic-bezier(0.215, 0.610, 0.355, 1) .1s;
    animation: PushIn 500ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

#g__cypd_notify_window>.cypd-notify-wrapper.hide {
    margin-bottom: 0px;
    max-height: 0px;
}

@keyframes PushIn {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: none;
    }
}

@keyframes PushOut {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
}

#g__cypd_notify_window .cypd-notify-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px 10px 10px 15px;
    border-radius: 5px;
    background-color: white;
}

#g__cypd_notify_window .cypd-notify-container.info {
    border-left: 5px solid var(--default-cyp-blue-active);
}

#g__cypd_notify_window .cypd-notify-container.success {
    border-left: 5px solid #2fdc17;
}

#g__cypd_notify_window .cypd-notify-container.warning {
    border-left: 5px solid #ff9b02;
}

#g__cypd_notify_window .cypd-notify-container.error {
    border-left: 5px solid var(--default-red-active-color);
}

#g__cypd_notify_window .cypd-notify-container .icon {
    overflow: visible;
    min-width: 25px;
    height: 25px;
    left: 15px;
    border-radius: 50%;
    background-position-y: center;
}

#g__cypd_notify_window .cypd-notify-container.info .icon {
    background-color: var(--default-cyp-blue-active);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='25px' height='25px' overflow='visible'><circle cx='12.5' cy='8' r='2' stroke='none' fill='white'/><path d='M9.5 12.5 14.5 12.5 14.5 18.5 16.5 19.5 9.5 19.5 11.5 18.5 11.5 14.5 Z' stroke='none' fill='white'/></svg>");
}

#g__cypd_notify_window .cypd-notify-container.success .icon {
    background-color: #2fdc17;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='25px' height='25px' overflow='visible'><path d='M5 13 11 17 18 7' stroke='white' stroke-width='3' fill='none'/></svg>");
}

#g__cypd_notify_window .cypd-notify-container.warning .icon {
    background-color: white;
    border-radius: 0px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='25px' height='25px' overflow='visible'><path d='M12.5 2 22.026 20 2.974 20 Z' stroke='%23ff9b02' stroke-width='3' stroke-linejoin='round' fill='%23ff9b02'/><path d='M11.1 7 13.9 7 12.5 15 Z' stroke='none' fill='white' /><circle cx='12.5' cy='17.4' r='1.4' stroke='none' fill='white'/><circle cx='12.5' cy='7' r='1.4' stroke='none' fill='white'/></svg>");
}

#g__cypd_notify_window .cypd-notify-container.error .icon {
    background-color: var(--default-red-active-color);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='25px' height='25px' overflow='visible'><path d='M7.5 7.5 17.5 17.5 M17.5 7.5 7.5 17.5' stroke='white' stroke-width='4' fill='none'/></svg>");
}

#g__cypd_notify_window .cypd-notify-container .content {
    height: 80%;
    flex-grow: 10;
    margin-left: 20px;
    margin-right: 15px;
    min-width: 240px;
}

#g__cypd_notify_window .cypd-notify-container .content .title {
    font-weight: bold;
}

#g__cypd_notify_window .cypd-notify-container .content .message {
    margin-top: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#g__cypd_notify_window .cypd-notify-container .remove {
    overflow: visible;
    min-width: 20px;
    height: 20px;
    cursor: pointer;
}


/* cypd-dropdown */

.cypd-dropdown {
    position: relative;
    cursor: pointer;
}

.cypd-dropdown>.wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    background-color: white;
    padding: 0px;
    box-shadow: 0px 0px 2px gray;
    z-index: 21;
    transform: translateY(5px);
    transition: opacity 150ms, max-height 0ms linear 150ms;
}

.cypd-dropdown>input:checked~.wrapper {
    height: auto;
    max-height: 2000px;
    opacity: 1;
    transition: opacity 150ms;
}

.cypd-dropdown>.wrapper>.cypd-dropdown-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    height: 32px;
    color: var(--default-cyp-blue);
    transition: background-color 150ms, color 150ms, transform 150ms;
}

.cypd-dropdown>.wrapper>.cypd-dropdown-item:hover {
    background-color: var(--default-cyp-blue-hover);
    color: white;
}

.cypd-dropdown>.wrapper>.cypd-dropdown-item>*:not(:nth-child(1)) {
    margin-left: 20px;
}

.cypd-dropdown-item>.prefix>img {
    width: 24px;
}

html {
    visibility: visible;
}


/* cypd-empty */

.cypd-empty-view {
    min-height: 150px;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100px' height='100px' overflow='visible'><ellipse cx='45' cy='60' rx='25' ry='5' stroke='none' fill='rgba(170,170,170,0.5)' /><path d='M20 45 30 30 60 30 70 45' stroke='rgba(170,170,170,0.8)' fill='none' stroke-linejoin='round' /><path d='M70 45 55 45 53 50 37 50 35 45 20 45 20 60 70 60 Z' stroke='rgba(170,170,170,0.8)' fill='rgb(238,238,238)' stroke-linejoin='round' /><text x='45' y='85' font-family='Arial' fill='rgba(170,170,170,0.8)' text-anchor='middle'>No Data</text></svg>");
    background-repeat: no-repeat;
    background-position: center center;
}


/* cypd-book */

.cypd-book {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cypd-page {
    width: 100%;
    position: relative;
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 150ms, transform 150ms;
}

.cypd-page.history,
.cypd-page.future {
    position: absolute;
    opacity: 0;
    width: 0;
    overflow: hidden;
    transition: width 150ms linear 150ms;
}

.cypd-page.history {
    transform: translate(-10px);
}

.cypd-page.future {
    transform: translate(10px);
}


/* cypd-list */

.cypd-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: auto;
    max-height: 100%;
    width: 100%;
    padding: 10px 20px 10px 20px;
    overflow-y: auto;
    flex-shrink: 0;
}

.cypd-list>.cypd-listitem {
    position: relative;
    min-height: 50px;
    border-radius: 10px;
    border: 2px solid transparent;
    opacity: 1;
    flex-shrink: 0;
    cursor: default;
    transition: border-color 150ms, opacity 150ms;
}

.cypd-list.draggable>.cypd-listitem {
    cursor: move;
}

.cypd-list.draggable>.cypd-listitem.dragged {
    user-select: none;
    opacity: 0.5;
}

.cypd-list>.cypd-listitem:hover {
    border-color: #00839E;
}

.cypd-list.dragging>.cypd-listitem,
.cypd-list.dragging>.cypd-listitem:hover {
    border-color: transparent;
    border-radius: 0;
}

.cypd-list.dragging>.cypd-listitem.hover-top:hover {
    border-top: 2px solid #00839E;
}

.cypd-list.dragging>.cypd-listitem.hover-bottom:hover {
    border-bottom: 2px solid #00839E;
}

.cypd-list>.cypd-listitem>.readmore-check {
    display: none;
}

.cypd-list>.cypd-listitem>.shorten {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    min-height: 50px;
    text-align: start;
    padding-left: 10px;
}

.cypd-list>.cypd-listitem>.shorten>.label {
    font-weight: bold;
    justify-self: flex-start;
    margin-right: auto;
}

.cypd-list>.cypd-listitem>.shorten>.decoration {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

.cypd-list>.cypd-listitem>.shorten>.decoration>* {
    margin-left: 10px;
}

.cypd-list>.cypd-listitem>.shorten>.decoration>.readmore-label {
    width: 40px;
    user-select: none;
    cursor: pointer;
    color: #33a8c0;
    font-size: 12px;
    transition: color 150ms;
}

.cypd-list>.cypd-listitem>.shorten>.decoration>.readmore-label:hover {
    color: #47bbd3;
}

.cypd-list>.cypd-listitem>.readmore-check~.detail {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    max-height: 0;
    height: 0;
    text-indent: 40px;
    text-align: start;
    word-wrap: break-word;
    border-top: 1px solid rgba(128, 128, 128, 0.414);
    opacity: 0;
    padding: 0px;
    transition: opacity 150ms, padding 150ms, max-height 150ms linear 150ms;
}

.cypd-list>.cypd-listitem>.readmore-check:checked~.detail {
    height: auto;
    max-height: 70px;
    padding: 10px;
    opacity: 1;
    transition: max-height 150ms, padding 150ms, opacity 150ms linear 150ms;
}